## Exercícios

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Conté informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases e utilizando os métodos de concatenação de bases responda:

In [2]:
import pandas as pd

In [3]:
customer = pd.read_csv('./data/customer.csv')
products = pd.read_csv('./data/products.csv')
sales = pd.read_csv('./data/sales.csv')

a) Quais produtos não foram vendidos?

In [10]:
vendas = sales.merge(products, how='right', on='p_id')
vendas[['product_y']][vendas['product_x'].isna()]

       product_y
0      Hard Disk
10      Keyboard
11         Mouse
12   Motherboard
13  Power supply

b) Quantos clientes não realizaram uma compra?

In [15]:
vendas_b = sales.merge(customer, how='right', on='c_id')
vendas_b[['Customer']][vendas_b['sale_id'].isna()]

# 4 clientes

   Customer
9      King
10     Ronn
11      Jem
12      Tom

c) Liste a quantidade vendida e o faturamento de cada produto

In [26]:
vendas['valor_venda'] = vendas['qty'] * vendas['price']

In [27]:
vendas_c = vendas.copy()
vendas_c.groupby('product_y').sum().loc[:,['qty','valor_venda']]

               qty  valor_venda
product_y
CPU            1.0         55.0
Hard Disk      0.0          0.0
Keyboard       0.0          0.0
Monitor       12.0        900.0
Motherboard    0.0          0.0
Mouse          0.0          0.0
Power supply   0.0          0.0
RAM            7.0        630.0

d) Liste a quantidade vendida de cada produto por loja

In [28]:
vendas_d = vendas.copy()
vendas_d.groupby(by=['store','product_y']).sum().loc[:,['qty','valor_venda']]

                  qty  valor_venda
store product_y
ABC   Monitor    10.0        750.0
      RAM         3.0        270.0
DEF   CPU         1.0         55.0
      Monitor     2.0        150.0
      RAM         4.0        360.0

e) Qual loja teve maior faturamento?

In [36]:
vendas_e = vendas.copy()
vendas_e.groupby(by=['store']).sum().loc[:,['valor_venda']].sort_values('valor_venda', ascending=False).head(1)

       valor_venda
store
ABC         1020.0

f) Qual produto foi o mais vendido?

In [42]:
vendas_f = vendas.copy()
vendas_f.groupby(by=['product_y']).sum().loc[:,['qty']].sort_values('qty', ascending=False).head(1)

            qty
product_y
Monitor    12.0